header{
    background-color: white;
    display: flex;
    justify-content: space-around;
   position: relative;
}
ul{
    color: black;
    display: flex;
    justify-content: space-between;
    width: 40% ;
    position: relative;  
    right: 300px;
}
.logo{
    position: relative;
    right: 80px;
}
.nav-buttons{
  /*border: 1px solid yellow;*/
  display: flex;
  justify-content: space-between; 
  border: none;  
}
.loginbout{
    background: rgb(247, 244, 244);
    border-radius: 5px;
    border: none;
  font-size: 15px;
  height: 40px;
  padding: 1% 15%;
  margin-right:2%;
  cursor: pointer;
 position: relative;
 right: 10px;
}
header:hover { 
    background-color: white;
  }
.starbout{
    background:rgba(6, 93, 175, 0.897);
    border-radius: 5px;
    border: none;
  font-size: 15px;
  height: 40px;
  padding: 1% 15%;
  margin-right:2%;
  cursor: pointer;
}
p.txt-wistia{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(59, 57, 57);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
    

}
.watch-vedio{
    background:white;
    font-size: 15px;
    height: 40px;
    padding: 1% 15%;
    margin-right:2%;
    
}
.txt-Video-software{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position: relative;
    top:20px;

}
li{
  
    display:flex;
    
}
section.botoom {
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 148, 232);
    position: relative;
    
    
}
main{
    display: flex;
   
    justify-content:space-around;
}
section.sqrt{
    background-color: rgb(255, 214, 80);
}
section.squrt1{
    background-color:rgb(10, 47, 82);
}

section.squrt2{
    background-color:rgb(9, 10, 99);

}


section.down{
    display:flex;
    justify-content: space-between;
    position: relative;
    top: 30px;

}
.botoom-txt{
    
    position: relative;
    right:51px;
    top:100px;
}
.text-decoration{
   
text-decoration:underline;
color: blue;
} 
div.foot{
    display: flex;
    justify-content: space-around; 
    position: relative;
    top:100px;
} 
main{
    position: relative;
}
.watch-vedio{
    background: rgb(247, 244, 244);
    border-radius: 5px;
    border: none;
  font-size: 15px;
  height: 40px;
  padding: 1% 15%;
  margin-right:2%;
  cursor: pointer;

}
.free{
    background: rgb(255, 214, 80);
    border-radius: 5px;
    border:2px, white;
  font-size: 15px;
  height: 100px;
  padding: 1% 15%;
  margin-right:2%;
  cursor: pointer;
}
.free1{
    background:rgb(10, 47, 82);
    border-radius: 5px;
    border:2px,white;
  font-size: 15px;
  height: 40px;
  padding: 1% 15%;
  margin-right:2%;
  cursor: pointer;
}
.free2{
    background:rgb(9, 10, 99);
    border-radius: 5px;
    border:2px, white;
  font-size: 15px;
  height: 40px;
  padding: 1% 15%;
  margin-right:2%;
  cursor: pointer;
  position: relative;
  bottom: 15px;
}
 a {
    color: rgb(161, 165, 170);
  }
  .text{
    color: white;
    font-size: 30px;
    line-height: 1.3;
      max-width: 350px;
  
  }
  .follow{
    color: white;
  }
footer{
      display: flex;
      justify-content: space-between;
      position: relative; 
      top:200px;
  }
  
  .footer-navigation{
      display: flex;
      justify-content: flex-end;
      margin:15 px;
      overflow: hidden;
  }
  .footer-line{
    background-color: #2A2D35;
    display: flex;
      justify-content: space-between;
      padding-bottom: 0;
  
  }
  .lien-colore {
    color: #56BE8E;
      margin-left: 2px;
  }
  .head-footer-navigation{
      color: #9CA8B7;
      font-size: 11px;
      font-weight: 800;
      margin-bottom: 8px;
      display: flex;

      }
 .head-footer-navigationb{
      color: #9CA8B7;
      font-size: 15px;
      font-weight: 800;
      margin-bottom: 8px;
      display: flex;
      }
      .small{
          width:12px; 
          height:12px;
      }
     

     }